<div class="header_wrap">
  <button type="button" class="btn_menu only_mo">
    <span class="icon icon_menu"></span>
    <span class="icon icon_close"></span>
  </button>
  <nav id="nav" class="nav">
    <ul class="nav_list">
      <li class="nav_item"><a href="#home" class="nav_link">Home</a></li>
      <li class="nav_item"><a href="#menu" class="nav_link">Menu</a></li>
      <li class="nav_item"><a href="#blog" class="nav_link">Blog</a></li>
      <li class="nav_item"><a href="#pages" class="nav_link">Pages</a></li>
      <li class="nav_item"><a href="#contact" class="nav_link">Contact</a></li>
    </ul>
  </nav>
  <a href="#home" class="header_logo"></a>
  <div class="header_right">
    <span class="header_status only_pc">11:24 we’re open</span>
    <a class="header_reservation" href="#none">Table Reservation</a>
  </div>
</div>
